
/* general styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: rgb(32, 34, 33);
    text-decoration: none;
    transition:  all 0.3s ease;
}
a:hover{
    color: blue;
}
ul{
    list-style: none;
}
html{
    overflow-x: hidden;
}
.main-wrap{
    position: relative;
background-color: rgb(163, 169, 161);
overflow-x: hidden;
}


/* header styling */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 8%;
     background-color: rgb(218, 225, 231);
}   
.name{
    width: 30%;
    font-size: 20px;
    color: rgb(235, 139, 14);

}
nav{
    width: 50%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.desktop-link ul li{
    position: relative;
}

/* dropdown-styling */
.dropdown-menu{
    display: none;

}

.desktop-link ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(218, 225, 231);
}

.desktop-link ul li:hover .dropdown-menu ul{
    display: block;
    margin: 10px;
}
.desktop-link ul li:hover .dropdown-menu ul li{
    width: 120px;
    padding: 10px;

}


.buttons{
    display: none;
}
.mobileheader{
    display: none;
}


/* main-section styling */

.main-section-wrap{
    background-color: rgb(155, 156, 159);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://media.istockphoto.com/photos/beautiful-white-roses-with-a-burning-candle-on-the-dark-background-picture-id1195521382?b=1&k=20&m=1195521382&s=170667a&w=0&h=y94EBmBmdXtSuwbTzxfe5SxIfNqbPGpSgNPXpzi3-wg=);
    padding: 2% 0;
    color: white;

}
.biography{
    width: 90%;
    margin: auto;
    margin-bottom: 5%;

}   
.education-image{
    width: 250px;
    height: 250px;
    object-fit: cover;


}
.content-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content{
    width: 55%;
}
.picture{
    width:40%;
}
.pictures{
    display: flex;
    padding: 3% 0;
}
.content h3{
    font-size: 40px;
    color: rgb(247, 142, 5);
    padding-bottom: 4%;
}
.content p{
    font-size: 18px;
    line-height: 30px;
    border: none;
    border-left: 1px solid white;
    padding-left: 2%;
}
.picture img{
    width: 100%;
    height: 550px;
    object-fit: contain;
}

#social-life{
    margin-bottom: 0;
}

.religious-life, .social-life{
    width: 100%;
}
.religious-life h3, .social-life h3{
    font-size: 40px;
    color: rgb(235, 139, 14);
    padding-bottom: 4%;
}
.religious-life p, .social-life p{
    font-size: 18px;
    line-height: 30px;
    border: none;
    border-left: 1px solid white;
    padding-left: 2%;
}
#community-life{
    margin-bottom: 0;
}

/* more-images styling */
.just-pictures{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.just-picture{
    width: 50%;
}
.just-picture img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* footer-styling */
footer{
    background-color: rgb(218, 225, 231);
    padding: 2% 0;
}
.footer-wrap{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.footer-item a{
    color: black;
    font-size: 16px;
}
.footer-item a:hover{
    color: rgb(235, 139, 14);
    
}


/* media queries */

@media( max-width: 1200px){
    .desktop-link ul{
         display: none;
     }
       .mobileheader {
         display: flex;
         justify-content: space-between;
         padding: 2% 0;
         padding-left: 2%;
         align-items: center;
         justify-content: space-between;
       }
     .buttons{
       z-index: 30;
       padding: 0;
       margin-right: 2%;
       border:  2px solid rgb(220, 231, 233);
       display: block;
     }
 
       .nav-toggle {
         display: block;
         z-index: 26;
       }
       .nav-toggle {
         cursor: pointer;
         display: block;
         border-radius: none;
         width: 2rem;
         border: none;
         background-color: transparent;
         aspect-ratio: 0.9;
         transition: 0.3s ease;
       }
       button i {
         color: rgb(8, 9, 8);
       }
       .nav-toggle,
       .nav-toggle2 i {
         font-size: 23px;
       
       }
       .nav-toggle2 {
         cursor: pointer;
         display: none;
         border-radius: none;
         border: none;
         background-color: transparent;
         aspect-ratio: 0.9;
         width: 2rem;
       }
     
       nav {
         margin-left: 0;
       }
       .mobileheader {
         position: absolute;
         flex-direction: column;
         top: 10;
         right: 0px;
         align-items: none;
         text-align: left;
         padding-top: 10%;
         height: 100vh;
         width: 50%;
         line-height: 3rem;
         font: bold;
         display: block;
         transform: translateX(100%);
         transition: 700ms ease;
         margin-right: 0;
         overflow-x: hidden;
         background-color: rgb(218, 225, 231);
         z-index: 20;
     
       }  
       .mobileheader li a {
         color: black;
       
       }

        .dropdown-menu{
        display: block;

    }
    .mobileheader li:hover .dropdown-menu  {
        display: block;
        position: absolute;
        top: 100%;
        background-color: rgb(218, 225, 231);
    }
    
     .dropdown-menu ul{
        display: block;
        margin: 5px;
    }
    .mobileheader li:hover .dropdown-menu ul li{
        width: 120px;
        padding: 5px;
    
    }






       .footer-wrap{
        flex-direction: column;
      }
      .footer-item{
        margin-bottom: 3%;
      }
      .content-wrap{
        flex-direction: column;
      }
}

@media(max-width:768px){
    .pictures{
        padding: 0;
       }
       
       .picture{
         width: 100%;
         margin-bottom: 5%;
       }
       .content{
         width: 100%;
         margin-bottom: 5%;
       }
}