/* gallery-styling */
.gallery {
  background-color: #eee;
  padding-top: 3%;
  padding-bottom: 4%;
}
.row {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 30%;
  height: 200px;
  transform: scale(1.1);
}
.image img {
  transition: 0.7s ease;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}
.longer {
  height: 350px;
}

@media (max-width: 1200px) {
  .image,
  .row {
    margin-bottom: 15%;
  }
}
@media (max-width: 768px) {
  .gallery {
    padding-top: 10%;
  }
  .row {
    display: block;
    margin-bottom: 5%;
  }
  .image {
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
  }
}
