
/* general styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: rgb(32, 34, 33);
    text-decoration: none;
}
ul{
    list-style: none;
}
html{
    overflow-x: hidden;
}

.main-wrap{
    position: relative;
    background-color: rgb(163, 169, 161);
    font-family: "Poppins", sans-serif;

}


/* header styling */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 8%;
    background-color: rgb(218, 225, 231);
    z-index: 40px;
}
.name{
    width: 30%;
    font-size: 20px;
    color: rgb(235, 139, 14);

}
nav{
    width: 50%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.buttons{
    display: none;
}
.mobileheader{
    display: none;
}


/* main-section  */
.section-wrap{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://media.istockphoto.com/photos/day-of-memory-and-sorrow-remember-and-mourn-two-white-candles-with-picture-id1185497799?b=1&k=20&m=1185497799&s=170667a&w=0&h=LFv5k-3fj4daIW_VZyjqgHyuiaCIiPeRt-sUw7AXZkI=);
    padding: 3% 0;
    color: white;
}
.heading{

    text-align: center;
    font-size: 20px;
    padding: 2% 0;
    font-style: italic;
}

.heading h3{
    font-size: 35px;
    padding-bottom: 20px;
    font-style: normal;
}
.main-section-wrap{
    width: 90%;
    margin: auto;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: 0px 2px 3px rgba(177, 174, 174, 0.2),
    -0px -2px 3px rgba(200, 193, 193, 0.2);
    margin-bottom: 5%;
}
.image{
    width: 50%;
    height: 300px;
}
.image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.text{
    width: 50%;
    line-height: 27px;
    font-size: 20px;
    padding: 3%;
}
.text h3{
    font-size: 24px;

}



/* footer-styling */
footer{
    background-color:rgb(101, 102, 100);
    padding: 2% 0;
}
.footer-wrap{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.footer-item a{
    color: white;
    font-size: 18px;
}
.footer-item a:hover{
    color: rgb(235, 139, 14);
    
}

@media( max-width: 1200px){
   .desktop-link ul{
        display: none;
    }
      .mobileheader {
        display: flex;
        justify-content: space-between;
        padding: 2% 0;
        padding-left: 2%;
        align-items: center;
        justify-content: space-between;
      }
    .buttons{
      z-index: 30;
      padding: 0;
      margin-right: 2%;
      border:  2px solid rgb(220, 231, 233);
      display: block;
    }

      .nav-toggle {
        display: block;
        z-index: 26;
      }
      .nav-toggle {
        cursor: pointer;
        display: block;
        border-radius: none;
        width: 2rem;
        border: none;
        background-color: transparent;
        aspect-ratio: 0.9;
        transition: 0.3s ease;
      }
      button i {
        color: rgb(8, 9, 8);
      }
      .nav-toggle,
      .nav-toggle2 i {
        font-size: 23px;
      
      }
      .nav-toggle2 {
        cursor: pointer;
        display: none;
        border-radius: none;
        border: none;
        background-color: transparent;
        aspect-ratio: 0.9;
        width: 2rem;
      }
    
      nav {
        margin-left: 0;
      }
      .mobileheader {
        position: absolute;
        flex-direction: column;
        top: 10;
        right: 0px;
        align-items: none;
        text-align: center;
        padding-top: 10%;
        height: 100vh;
        width: 100%;
        line-height: 3rem;
        font: bold;
        display: block;
        transform: translateX(100%);
        transition: 700ms ease;
        margin-right: 0;
        overflow-x: hidden;
        background-color: rgb(178, 179, 181);
        z-index: 20;
    
      }  
      .mobileheader li a {
        color: black;
      
      }


      .text{
        width: 100%;
      }
      .footer-wrap{
        flex-direction: column;
        align-items: center;
      }
      .footer-item{
        margin-bottom: 3%;
      }
}
@media(max-width:768px){
      /* main-section-wrap */
      .section-wrap{
        padding: 10% 0;
      }
      .item{
       flex-direction: column;
      }
      .image{
        width: 100%;
      }
}