.section-wrap {
  background-color: #eee;
}

.tribute-wrap {
  width: 90%;
  max-width: 1000px;
  text-align: justify;
  margin: auto;
  text-align: center;
  padding: 4%;
  color: rgb(0, 0, 0);
  font-size: 26px;
  padding-top: 7%;
}
.section-wrap h3 {
  font-size: 30px;
  margin-bottom: 3%;
}
.section-wrap p {
  line-height: 2.5;
  font-size: 16px;
}
.writer {
  padding-top: 5%;
  font-style: italic;
}